body {
    background-color: #f0f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.top-bar {
    padding: 6px 0;
    background: #121e29;
    font-size: 12px;
    text-transform: uppercase;
}

.top-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.top-bar li {
    display: inline;
    margin-right:5px;
}

.top-bar a {
    text-decoration: none;
    color: #949ea8;
}

.top-bar a:hover {
    color: white;
}

.primary-bar {
    margin-top: 30px;
    text-transform: uppercase;
}

.primary-bar ul {
    padding: 0;
    text-align: right;
}

.primary-bar li {
    display:inline;
    margin-right:5px;
}

.primary-bar a {
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    background-color: #121e29;
    padding: 10px 15px;
    color:white;
    border-radius: 5px;
}

.primary-bar a:hover {
    background-color: #ff8903;
}

.smart {
    margin-top:50px;
}

.smart h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.smart a {
    text-decoration: none;
    background-color: #121e29;
    padding: 10px 15px;
    color:white;
    border-radius: 5px;
}

.smart a:hover {
    background-color: #ff8903;
}

.smart p {
    color: #8e9394;
}


.outer-gradient2 {
    background: #375b7d;
    background: -moz-linear-gradient(top, #375b7d 0%, #101a24 100%);
    background: -webkit-linear-gradient(top, #375b7d 0%,#101a24 100%);
    background: linear-gradient(to bottom, #375b7d 0%,#101a24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#375b7d', endColorstr='#101a24',GradientType=0 );
    padding-bottom: 40px;
}

.columns h2 {
    color: #fffff7;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.columns ul {
    padding: 0;
    margin-bottom: 30px;
}

.columns {
    margin-top:50px;
}

.columns a {
    text-decoration: none;
    color: #fffff7;
}

.columns p {
    color: #495d6e;
}

.columns li {
    list-style: none;   
}

.more a:link {
    text-decoration: none;
    background-color: #0f1b24;
    padding: 10px 15px;
    color:white;
    border-radius: 5px;
    margin-top: 50px;
}

.more a:hover {
    background-color: #ff8903;
}

.outer-footer1 {
    background: #091014;
    padding: 30px;
}

.footer1 {
    color: #949ea8;
}